name: create release with artifacts

on:
  workflow_call:
#     inputs:

jobs:

  release:
    runs-on: ubuntu-latest

    steps:
      - name: check out
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: source
      - name: download artifacts
        uses: actions/download-artifact@v3
      - name: prepare changelog
        run: |
          sudo apt-get update
          sudo apt-get install -y dpkg-dev
          pushd source
          dpkg-parsechangelog -S Changes | tail -n+4 > ../changelog
          popd
      - name: release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: false
          draft: false
          fail_on_unmatched_files: true
          body_path: changelog
          # to save space no deb, debian and orig files
          files: |
            results-*/*.buildinfo
            results-*/*.changes
            results-*/*.dsc
