name: create release with artifacts

on:
  workflow_call:
    inputs:
      prerelease:
        description: 'Mark release as pre-release'
        type: boolean
        default: false
      publish:
        description: 'Publish release (set draft to false after creation)'
        type: boolean
        default: false

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:

  release:
    runs-on: ubuntu-latest

    steps:
      - name: check out
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          path: source
      - name: download artifacts
        uses: actions/download-artifact@v7
      - name: prepare changelog
        run: |
          sudo apt-get update
          sudo apt-get install -y dpkg-dev
          pushd source
          dpkg-parsechangelog -S Changes | tail -n+4 > ../changelog
          popd
      - name: only one orig
        run: |
          find . -name "*.orig.tar.gz" | sort | tail -n +2 | xargs -r rm
      - name: generate artifact attestations
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: 'results_*/*'
      - name: create release with assets
        uses: softprops/action-gh-release@v2
        with:
          draft: ${{ !inputs.publish }}
          prerelease: ${{ inputs.prerelease }}
          fail_on_unmatched_files: true
          body_path: changelog
          files: |
            results_*/*
