name: upload artifacts to packagecloud

on:
  workflow_call:
    secrets:
      PACKAGECLOUD_TOKEN:
        required: true
    inputs:
      USERREPO:
        required: true
        type: string

jobs:

  upload-packagecloud:
    name: ${{ matrix.vendor }} upload
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - vendor: "ubuntu"
          - vendor: "debian"

    steps:
      - name: download artifacts
        uses: actions/download-artifact@v3
      - name: install
        run: |
          sudo gem install package_cloud
          echo "PACKAGECLOUD_TOKEN=${{ secrets.PACKAGECLOUD_TOKEN }}" >> $GITHUB_ENV
      - name: upload
        run: |
          for resultdir in $(ls -d results-${{ matrix.vendor }}*); do
            dist=$(grep -oP "Distribution: \K\w+" $resultdir/*.changes | head -n1)
            find $resultdir -name "*.deb" -not -name "*-dbgsym" -print | xargs -r package_cloud push ${{ inputs.USERREPO }}/${{ matrix.vendor }}/$dist
            find $resultdir -name "*.dsc" -print | xargs -r package_cloud push ${{ inputs.USERREPO }}/${{ matrix.vendor }}/$dist
          done
